<template>
  <div
    v-if="isOpenSidebar"
    @click="toggleSidebar"
    class="fixed inset-0 z-10 bg-black bg-opacity-50 lg:hidden"
  ></div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapMutations, mapGetters } from "vuex";

export default defineComponent({
  name: "SidebarBackdrop",
  computed: { ...mapGetters(["isOpenSidebar"]) },
  methods: { ...mapMutations(["toggleSidebar"]) },
});
</script>
