<template>
  <div class="fixed inset-x-0 bottom-0 h-16 bg-black m-6 rounded-xl">
    <div class="flex flex-row text-center text-gray-100">
      <div
        class="basis-1/3 rounded p-1 flex justify-center items-center"
        @click="$router.push('/page1')"
      >
        <img src="@/assets/frame 1.png" class="h-12 w-12" alt="" />
      </div>
      <div
        class="basis-1/3 rounded p-1 flex justify-center items-center"
        @click="$router.push('/page2')"
      >
        <img src="@/assets/mdi_location.png" class="h-12 w-12" alt="" />
      </div>
      <div
        class="basis-1/3 rounded p-1 flex justify-center items-center"
        @click="$router.push('/page3')"
      >
        <img src="@/assets/uis_schedule.png" class="h-12 w-12" alt="" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  data() {
    return {
      input: "",
    };
  },

  computed: {},

  created() {},

  methods: {},
});
</script>
