<template>
  <!-- <header
    class="h-12 dark:bg-gray-800 dark:border-gray-900 border border-zinc-100 mb-3 rounded"
  > -->
  <div class="flex justify-center items-center mt-8">
    <img src="@/assets/uniLogo.png" class="h-12 w-36" alt="" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { mapGetters, mapMutations } from "vuex";

export default defineComponent({
  data() {
    return {
      input: "",
    };
  },

  computed: {
    ...mapGetters([]),
  },

  created() {},

  methods: {},
});
</script>
