<template>
  <div class="text-gray-400 text-xs p-2">
    <p class="mt-8 mb-2 text-gray-200 text-sm font-semibold">Location:</p>
    <div>
      <img src="@/assets/locationimg.png" class="w-full mb-4" alt="" />
    </div>
    <div style="background-color: #1c1c1e" class="w-full rounded-lg">
      <p class="p-2">
        <span class="text-gray-200">Where: </span>Nomun medical wellness resort
      </p>
      <p class="p-2">
        <span class="text-gray-200">When: </span>Thursday, November 2,
        09:00-22:30
      </p>
      <p class="p-2"><span class="text-gray-200">Dress code: </span>Casual</p>
      <p class="p-2">
        <span class="text-gray-200">PS: </span>Өглөө 10:30-д Централ Тауэр-аас
        автобус хөдөлнө.<br />
        <span class="ml-6 text-right">Хувийн унаагаар явахыг хориглоно.</span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({});
</script>
