<template>
  <div class="md:hidden">
    <div
      style="
        background: radial-gradient(
          circle at 10% 20%,
          rgb(69, 86, 102) 0%,
          rgb(34, 34, 34) 90%
        );
      "
      class="antialiased flex h-screen overflow-y-hidden text-sm text-zinc-70"
    >
      <div class="flex flex-1 h-full overflow-hidden relative">
        <main
          class="bg-zinc-100 flex-1 max-h-full p-4 pt-0 overflow-hidden overflow-y-scroll"
        >
          <Header />
          <router-view />
          <Footer />
        </main>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapGetters, mapMutations } from "vuex";
import Background from "../sidebar/Background.vue";
import Header from "../sidebar/Header.vue";
import Footer from "../sidebar/Footer.vue";

export default defineComponent({
  name: "Container",
  components: { Background, Header, Footer },
  computed: {
    ...mapGetters(["loading"]),
  },
  methods: {},
});
</script>
