<template>
  <div class="p-2">
    <p class="mt-8 mb-2 text-gray-200 text-sm font-semibold">Хуваарь:</p>

    <div
      style="background-color: #1c1c1e"
      class="rounded-lg p-1 text-gray-400 text-xs"
    >
      <div class="border-b">
        <p class="p-2">09:00-11:00<span class="ml-4">Цуглана</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">10:30-11:00<span class="ml-4">Нээлт</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">11:00-11:30<span class="ml-4">Performance</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">11:30-12:00<span class="ml-4">Success story</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">12:00-12:20<span class="ml-4">Strategy</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">12:30-13:20<span class="ml-4">Lunch</span></p>
      </div>

      <div class="border-b">
        <p class="p-2">13:20-13:30<span class="ml-4">Free time</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">13:30-15:00<span class="ml-4">Training</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">15:00-18:00<span class="ml-4">Team work</span></p>
      </div>
      <div class="border-b">
        <p class="p-2">18:00-19:00<span class="ml-4">Dinner time</span></p>
      </div>
      <div>
        <p class="p-2">19:00-22:30<span class="ml-4">After party</span></p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({});
</script>
