<template>
  <div class="flex justify-center items-center mt-8">
    <img src="@/assets/Group 2.png" class="" alt="" />
    <div style="position: absolute" class="text-white text-2xl ml-24 mb-2">
      EBD Workshop 2023
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({});
</script>
