<template>
  <!-- <Loader /> -->
  <router-view></router-view>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  created() {},
  methods: {},
});
</script>
